body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff300;
  color: #333;
}

header {
  background-color: #0d6efd;
  color: white;
  padding: 1.5rem;
  text-align: center;
}

main {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}
#map {
  height: 500px;
  background-color: #ddd;
  border-radius: 12px;
  margin-top: 2rem;
}
utton {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #084298;
}
